body{
  margin:0;
  font-family:Arial;
  background:#0b1220;
  color:white;
}

.container{
  max-width:900px;
  margin:auto;
  padding:15px;
}

h2{
  text-align:center;
}

.top{
  display:flex;
  gap:10px;
}

input{
  flex:1;
  padding:10px;
  border-radius:8px;
  border:none;
}

button{
  padding:10px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
}

.card{
  background:#111a2e;
  padding:15px;
  margin-top:10px;
  border-radius:10px;
}

.row{
  display:flex;
  justify-content:space-between;
}

.btns{
  display:flex;
  gap:10px;
  margin-top:10px;
}

.start{background:green;color:white;}
.stop{background:red;color:white;}
.withdraw{background:gold;}

.small{font-size:12px;opacity:0.8;}