body{
margin:0;
font-family:Arial;
background:#f3f3f3;
padding-bottom:100px;
}

.top{
background:linear-gradient(90deg,#ff9900,#ff5500);
padding:20px;
color:white;
font-weight:bold;
text-align:center;
}

.title{
font-size:22px;
}

.card{
background:white;
margin:15px;
padding:20px;
border-radius:20px;
font-weight:bold;
}

.balance{
font-size:28px;
margin-top:10px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
padding:15px;
}

.btn{
background:#ff6600;
color:white;
padding:20px;
border-radius:15px;
text-align:center;
font-weight:bold;
cursor:pointer;
}